* {
    margin: 0;
    padding: 0;
}

.card-container {
    display: flex;
    justify-content: space-between;
    margin: 70px auto 0 auto;
    flex-flow: row wrap;
    z-index: -1;
}


.card {
    position: relative;
    max-height: 360px;
    height: 360px;
    width: 260px;
    border: 1px solid #000000;
    border-radius: 14px;
    margin: 10px 0 35px 0px;
    box-shadow: 1px 5px 10px 0px #00000040;
    background-color: #FFFFFF;
    z-index: 0;

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 17px;
        overflow: hidden;
    }

    &-text {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    
    &-name {
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
        margin: 10px 0;
        color: $dark-gray;
    }
    
    &-img {
        width: 220px;
        height: 185px;
        display: block;
        margin: auto;
        object-fit: cover;
    }
    
    &-desc {
        font-size: 12px;
        line-height: 16px;
        height: 50px;
        margin-bottom: 8px;
        text-align: justify;
    }
}



.dead-short::after {
    position: absolute;
    top: 25px;
    left: -10px;
    color: $white;
    width: 100px;
    content: 'Prazo curto!';
    background-color: $purple;
    border-radius: 0px 5px 5px 0px;
    border: none;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0 10px 0;
}

.dead-late::after {
    position: absolute;
    top: 25px;
    left: -10px;
    color: $white;
    width: 100px;
    content: 'Atrasado :(';
    background-color: $red;
    border-radius: 0px 5px 5px 0px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0 10px 0;
}



.deadline {
    display: flex;
    align-items:baseline;
    margin-bottom: 5px;

    &-label {
        font-size: 16px;
        padding-right: 10px;
        font-weight: 700;
    }
    
    &-value {
        font-size: 20px;
        font-weight: 900;
        color: $red;
    }
}

.late {
    color: $red;
    font-size: 10px;
    padding-left: 12px;
    align-self: center;
}

.insertion {
    color: $gray;
    padding-top: 5px;
    font-size: 10px;
}

/* Make animation only for desktop viewport */

@media (min-width: 650px) {
    .card {
    
        &:hover {
            max-height: 900px;
            height: 100%;
            margin-bottom: -150px;
            z-index: 1000;
        }

        &-text > button {
            display: none;
        }

        &:hover > .card-content > .card-text > button {
            display: inline-flex;
        }
    }
}

/* Change flexbox for smaller viewports */

@media (max-width: 1090px) {
    .card-container{
        justify-content: space-around;
    }
}

/* Mobile viewport media query */ 

@media (max-width: 650px) {
    .card {
        position: relative;
        width: 100%;
        max-width: 340px;
        height: 210px;
        margin: 12px 0;

        &-content {
            flex-direction: row;
            padding: 16px;

            &::after {
                content: url('../assets/img/red-clock.png');
                top: 16px;
                right: 14px;
                height: 20px;
                position: absolute;
            }
        }

        &-text {
            justify-content: center;
            align-items: left;
            margin-left: 5px;
        }

        &-img {
            max-width: 147px;
            max-height: 171px;
        }
    
        &-name {
            margin: 0 0 5px 0;
            order: 1;
        }
        
        &-desc {
            height: auto;
            font-size: 11px;
            order: 2;
        }
    
    }

    .card-container {
        width: 100%;
        margin: 0 auto;
    }

    #card5, #card6, #card7, #card8 {
        display: none;
    }

    .dead-short::after {
        bottom: 175px;
        left: -10px;
        height: 10px;
    }

    .dead-late::after {
        bottom: 175px;
        left: -10px;
        height: 10px;
    }

    .deadline {
        order: 3;

        &-label {
            font-size: 12px;
        }
    
        &-value {
            font-size: 18px;
        }
    }



    .insertion {
        order: 5;
    }
}

@media (max-width: 355px) {
    .card {
        width: 95%;
        height: auto;

        &-img {
            width: 137px;
            height: 160px;
        }

        &-content {
            padding: auto;
            margin: auto;
        }
    }



    .dead-short::after {
        top: 50px;
        left: -5px;
    }

    .dead-late::after {
        top: 50px;
        left: -5px;
    }
}
