/// Declarações de importações principais:
@import 'header';
@import 'colors';
@import 'toolbar';
@import 'cards';
@import 'buttons';
@import 'register';
@import 'linx';
@import 'footer';
/// CSS basico

*, body {
    font-family: 'Open Sans';
}

main {
    margin: auto;
}

@media (min-width: 1090px) {
    .container {
        max-width: 1090px;
        margin: auto;
    }
}