@import 'colors';

/* Buttons in the task cards section */

.finish-btn {
    background-color: $purple;
    font-weight: 600;
    border-radius: 8px;
    border: 0;
    color: $white;
    display: inline-block;
    height: 40px;
    margin-top: 25px;
    width: 100%;
    max-width: 220px;
    background-position: center;
    transition: background 0.8s;
}

.finish-btn:active {
    background-color: $light-purple;
    background-size: 100%;
    transition: background 0s;
}

.deadline-btn {
    background-color: $red;
    border-radius: 8px;
    border: 0;
    color: $white;
    display: inline-flex;
    height: 40px;
    margin-top: 8px;
    font-weight: 600;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    max-width: 220px;
    background-position: center;
    transition: background 0.8s;
}

.deadline-btn:active {
    background-color: $orange;
    background-size: 100%;
    transition: background 0s;
}

.more-btn {
    display: block;
    width: 200px;
    height: 40px;
    font-weight: 700;
    font-size: 16px;
    background: $light-purple;
    border-radius: 8px;
    border: none;
    color: $white;
    margin: 10px auto;
    background-position: center;
    transition: background 0.8s;
}

.more-btn:active {
    background-color: $purple;
    background-size: 100%;
    transition: background 0s;
}

.deadline-btn:hover {
    cursor: pointer;
}

.clock-vector {
    margin-right: 7px;
}

/* Changing buttons for smaller screens and making "Alterar prazo" button invisible */

@media screen and(max-width: 650px) {
    .deadline-btn {
        display: none;
    }

    .finish-btn {
        background-color: $white;
        color: $purple;
        border: 1px solid $purple;
        font-weight: 600;
        order: 4;
        margin-top: 5px;
        max-width: 155px;
        height: 30px;
    }

    .more-btn {
        margin-top: 47px;
    }
}