* {
    margin: 0;
    padding: 0;
}

.card-container {
    display: flex;
    justify-content: space-between;
    margin: 70px auto 0 auto;
    flex-flow: row wrap;
    z-index: -1;
}

.dead-short::after {
    position: relative;
    bottom: 440px;
    left: -10px;
    color: #FFFFFF;
    width: 100px;
    content: 'Prazo curto!';
    background-color: #422755;
    border-radius: 0px 5px 5px 0px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 5px 20px;
}

.dead-late::after {
    position: relative;
    bottom: 440px;
    left: -10px;
    color: $white;
    width: 100px;
    content: 'Atrasado :(';
    background-color: $red;
    border-radius: 0px 5px 5px 0px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 5px 20px;
}

.card {
    max-height: 360px;
    height: 360px;
    width: 260px;
    border: 1px solid #000000;
    border-radius: 14px;
    margin: 10px 0 35px 0px;
    box-shadow: 1px 5px 10px 0px #00000040;
    background-color: $white;
    z-index: 0;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 17px;
    overflow: hidden;
}

.card-text {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.card-name {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    margin: 10px 0;
}

.card-img {
    width: 220px;
    height: 185px;
    display: block;
    margin: auto;
    object-fit: cover;
}

.card-desc {
    font-size: 12px;
    line-height: 16px;
    height: 50px;
    margin-bottom: 8px;
    text-align: justify;
}

.deadline {
    display: flex;
    align-items:baseline;
    margin-bottom: 5px;
}

.deadline-label {
    font-size: 16px;
    padding-right: 10px;
    font-weight: 700;
}

.deadline-value {
    font-size: 20px;
    font-weight: 900;
    color: $red;
}

.late {
    color: $red;
    font-size: 10px;
    padding-left: 12px;
    align-self: center;
}

.insertion {
    padding-top: 5px;
    font-size: 10px;
}

@media (min-width: 650px) {
    .card:hover {
        max-height: 900px;
        height: 100%;
        margin-bottom: -150px;
        z-index: 1000;
    }

    .card-text > button {
        visibility: hidden;
    }

    .card:hover > .card-content > .card-text > button {
        visibility: visible;
    }
}

@media (max-width: 1090px) {
    .card-container{
        justify-content: space-around;
    }
}

@media (max-width: 650px) {
    .card {
        position: relative;
    }

    .card-container {
        width: 100%;
        margin: 0 auto;
    }

    #card5, #card6, #card7, #card8 {
        display: none;
    }

    .card-content {
        flex-direction: row;
        padding: 16px;
    }

    .card-content::after {
        content: url('../assets/img/red-clock.png');
        top: 16px;
        right: 14px;
        height: 20px;
        position: absolute;
    }

    .card-text {
        justify-content: center;
        align-items: left;
        margin-left: 5px;
    }

    .card {
        width: 100%;
        max-width: 340px;
        height: 210px;
        margin: 12px 0;
    }


    .dead-short::after {
        bottom: 175px;
        left: -10px;
    }

    .dead-late::after {
        bottom: 175px;
        left: -10px;
    }

    .card-img {
        max-width: 147px;
        max-height: 171px;
    }

    .card-name {
        margin: 0 0 5px 0;
        order: 1;
    }
    
    .card-desc {
        height: auto;
        font-size: 11px;
        order: 2;
    }

    .deadline {
        order: 3;
    }

    .deadline-label {
        font-size: 12px;
    }

    .deadline-value {
        font-size: 18px;
    }

    .insertion {
        order: 5;
    }
}

@media (max-width: 355px) {
    .card-img {
        width: 137px;
        height: 160px;
    }

    .card {
        width: 95%;
        height: auto;
    }

    .card-content {
        padding: auto;
        margin: auto;
    }

    .dead-short::after {
        bottom: 170px;
        left: -5px;
    }

    .dead-late::after {
        bottom: 170px;
        left: -5px;
    }
}
