@import 'colors';

.regi-container {
    background-color: $light-gray;
    width: 85%;
    margin: 130px auto 100px auto;
    height: 120px;
    border-radius: 8px;
    align-items: center;
}

#regi-title {
    color: $light-purple;
    font-weight: bold;
    padding: 20px 50px 7px 50px;
}

.regi-container form {
    display: flex;
    padding: 5px 25px 20px 45px;
    justify-content: space-between;
}

.form-box {
    display: flex;
    flex-direction: column;
    color: $gray;
    font-size: 12px;
    width: 40%;
}

.form-box p {
    padding-bottom: 5px;
}

.form-control {
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 9px 20px;
}

.regi-btn {
    border-radius: 8px;
    width: 100px;
    border: none;
    background-color: $light-purple;
    color: $white;
    height: 34px;
    align-self: flex-end;
    font-weight: bold;
    font-size: 14px;
}

@media (max-width: 768px) {
    .regi-container {
        width: 95%;
    }

    .regi-box form {
        padding: 5px 10px 20px 10px;
    }
    
    #regi-title {
        padding: 20px 20px 7px 20px;
        text-align: center;
    }
}


@media (max-width: 650px) {
    .regi-container{
        display: none;
        width: 95%;
    }
}