@import 'colors';

.toolbar {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    background-color: $orange;
    padding: 25px 40px;
    border-radius: 8px;
    align-items: center;
    position: relative;
}

.search-bar {
    display: flex;
    margin: auto;
    position: relative;

}

.toolbar label {
    color: #FFFFFF;
    padding-right: 18px;
    font-size: 14px;
}

.search-control {
    width: 276px;
    max-height: 34px;
    border-radius: 8px 0px 0px 8px;
    border: 0;
    outline: none;
    padding: 10px 15px;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
}

.search-btn {
    left: -34px;
    position: relative;
    background-color: $light-purple;
    color: #FFFFFF;
    border-radius: 8px;
    border: 0;
    padding: 8px 10px;
    height: 34px;
}

.sort-list {
    color: $dark-gray;
    border-radius: 8px;
    padding-left: 30px;
    height: 34px;
    width: 200px;
}

@media screen and(min-width: 700px) {
    .toolbar {
        margin-top: 3em;
    }
}

@media screen and(max-width: 900px) {
    .toolbar {
        flex-direction: column;
        width: 98%;
        padding: 30px 0;
    }

    .search-bar {
        margin-bottom: 20px;
    }
}