/* These are the main colors used in the page */
/* Header with the trapezium */
.header {
  position: relative;
  text-align: center;
  color: #FFFFFF;
}

.title::before {
  content: '';
  position: absolute;
  top: 0;
  background-color: #422755;
  display: block;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  z-index: -1;
  height: 100%;
  width: 100%;
}

.title {
  font-size: 36px;
  padding-top: 140px;
  font-weight: 800;
}

.subtitle {
  font-size: 18px;
  padding-top: 1.6em;
  padding-bottom: 6em;
  font-weight: 400;
  line-height: 22px;
}

/* Changing trapezium angle */
@media screen and (max-width: 700px) {
  .title::before {
    height: 55%;
  }
  .title {
    font-size: 24px;
    padding-top: 64px;
    padding-bottom: 2em;
  }
  .subtitle {
    color: #422755;
    font-size: 16px;
    width: 80%;
    margin: 0 auto 0 auto;
    padding-bottom: 4em;
  }
}

/* These are the main colors used in the page */
/* These are the main colors used in the page */
/* Search and sort-list box */
.toolbar {
  max-width: 1090px;
  width: 94%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FEAF3D;
  padding: 25px;
  border-radius: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.toolbar label {
  color: #FFFFFF;
  padding-right: 18px;
  font-size: 14px;
}

.search-control {
  width: 276px;
  right: -17px;
  max-height: 34px;
  border-radius: 8px 0px 0px 8px;
  border: 0;
  outline: none;
  padding: 10px 50px 10px 15px;
  display: inline-block;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-btn {
  left: -17px;
  position: relative;
  background-color: #6E4B87;
  color: #FFFFFF;
  border-radius: 8px;
  border: 0;
  padding: 8px 10px;
  height: 34px;
  font-weight: bold;
}

.sort-list {
  color: #414141;
  border-radius: 8px;
  padding-left: 30px;
  height: 34px;
  width: 200px;
  outline: none;
  background-color: #FFFFFF;
  /* Changing arrow icon for dropwdown list*/
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" style="fill:%23414141;" /></svg>');
  background-position: right 10px top 50%;
  background-repeat: no-repeat;
  background-size: 10px;
}

/* Media queries for smaller viewports */
@media screen and (min-width: 700px) {
  .toolbar {
    margin-top: 3em;
  }
}

@media screen and (max-width: 900px) {
  .toolbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 98%;
    padding: 30px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 400px;
  }
  .search-bar {
    margin-bottom: 20px;
  }
}

@media (max-width: 350px) {
  .search-bar {
    left: -5px;
    max-width: 100%;
  }
  .search-control {
    width: 260px;
  }
  .sort-list {
    width: 180px;
  }
  .toolbar label {
    color: #FFFFFF;
    padding-right: 10px;
    font-size: 14px;
  }
}

@media (max-width: 300px) {
  .sort-bar {
    padding-left: 20px;
  }
}

* {
  margin: 0;
  padding: 0;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 70px auto 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  z-index: -1;
}

.card {
  position: relative;
  max-height: 360px;
  height: 360px;
  width: 260px;
  border: 1px solid #000000;
  border-radius: 14px;
  margin: 10px 0 35px 0px;
  -webkit-box-shadow: 1px 5px 10px 0px #00000040;
          box-shadow: 1px 5px 10px 0px #00000040;
  background-color: #FFFFFF;
  z-index: 0;
}

.card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 17px;
  overflow: hidden;
}

.dead-short::after {
  position: absolute;
  top: 25px;
  left: -10px;
  color: #FFFFFF;
  width: 100px;
  content: 'Prazo curto!';
  background-color: #422755;
  border-radius: 0px 5px 5px 0px;
  border: none;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0 10px 0;
}

.dead-late::after {
  position: absolute;
  top: 25px;
  left: -10px;
  color: #FFFFFF;
  width: 100px;
  content: 'Atrasado :(';
  background-color: #F04837;
  border-radius: 0px 5px 5px 0px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0 10px 0;
}

.card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.card-name {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  margin: 10px 0;
  color: #414141;
}

.card-img {
  width: 220px;
  height: 185px;
  display: block;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-desc {
  font-size: 12px;
  line-height: 16px;
  height: 50px;
  margin-bottom: 8px;
  text-align: justify;
}

.deadline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 5px;
}

.deadline-label {
  font-size: 16px;
  padding-right: 10px;
  font-weight: 700;
}

.deadline-value {
  font-size: 20px;
  font-weight: 900;
  color: #F04837;
}

.late {
  color: #F04837;
  font-size: 10px;
  padding-left: 12px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.insertion {
  color: #757575;
  padding-top: 5px;
  font-size: 10px;
}

/* Make animation only for desktop viewport */
@media (min-width: 650px) {
  .card:hover {
    max-height: 900px;
    height: 100%;
    margin-bottom: -150px;
    z-index: 1000;
  }
  .card-text > button {
    display: none;
  }
  .card:hover > .card-content > .card-text > button {
    display: inline-block;
  }
}

/* Change flexbox for smaller viewports */
@media (max-width: 1090px) {
  .card-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

/* Mobile viewport media query */
@media (max-width: 650px) {
  .card {
    position: relative;
  }
  .card-container {
    width: 100%;
    margin: 0 auto;
  }
  #card5, #card6, #card7, #card8 {
    display: none;
  }
  .card-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 16px;
  }
  .card-content::after {
    content: url("../assets/img/red-clock.png");
    top: 16px;
    right: 14px;
    height: 20px;
    position: absolute;
  }
  .card-text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    margin-left: 5px;
  }
  .card {
    width: 100%;
    max-width: 340px;
    height: 210px;
    margin: 12px 0;
  }
  .dead-short::after {
    bottom: 175px;
    left: -10px;
    height: 10px;
  }
  .dead-late::after {
    bottom: 175px;
    left: -10px;
    height: 10px;
  }
  .card-img {
    max-width: 147px;
    max-height: 171px;
  }
  .card-name {
    margin: 0 0 5px 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .card-desc {
    height: auto;
    font-size: 11px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .deadline {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .deadline-label {
    font-size: 12px;
  }
  .deadline-value {
    font-size: 18px;
  }
  .insertion {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
}

@media (max-width: 355px) {
  .card-img {
    width: 137px;
    height: 160px;
  }
  .card {
    width: 95%;
    height: auto;
  }
  .card-content {
    padding: auto;
    margin: auto;
  }
  .dead-short::after {
    top: 50px;
    left: -5px;
  }
  .dead-late::after {
    top: 50px;
    left: -5px;
  }
}

/* These are the main colors used in the page */
/* Buttons in the task cards section */
.finish-btn {
  background-color: #422755;
  font-weight: 600;
  border-radius: 8px;
  border: 0;
  color: #FFFFFF;
  display: inline-block;
  height: 40px;
  margin-top: 25px;
  width: 100%;
  max-width: 220px;
  background-position: center;
  -webkit-transition: background 0.8s;
  transition: background 0.8s;
}

.finish-btn:active {
  background-color: #6E4B87;
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
}

.deadline-btn {
  background-color: #F04837;
  border-radius: 8px;
  border: 0;
  color: #FFFFFF;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 40px;
  margin-top: 8px;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 220px;
  background-position: center;
  -webkit-transition: background 0.8s;
  transition: background 0.8s;
}

.deadline-btn:active {
  background-color: #FEAF3D;
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
}

.deadline-btn:hover {
  cursor: pointer;
}

.more-btn {
  display: block;
  width: 200px;
  height: 40px;
  font-weight: 700;
  font-size: 16px;
  background: #6E4B87;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  margin: 10px auto;
  background-position: center;
  -webkit-transition: background 0.8s;
  transition: background 0.8s;
}

.more-btn:active {
  background-color: #422755;
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
}

.clock-vector {
  margin-right: 7px;
}

/* Changing buttons for smaller screens and making "Alterar prazo" button invisible */
@media screen and (max-width: 650px) {
  .deadline-btn {
    display: none;
  }
  .finish-btn {
    background-color: #FFFFFF;
    color: #422755;
    border: 1px solid #422755;
    font-weight: 600;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-top: 5px;
    max-width: 155px;
    height: 30px;
  }
  .more-btn {
    margin-top: 47px;
  }
}

/* These are the main colors used in the page */
/* Forms for e-mails */
.regi-container {
  background-color: #E5E5E5;
  width: 85%;
  margin: 130px auto 100px auto;
  height: 120px;
  border-radius: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#regi-title {
  color: #6E4B87;
  font-weight: bold;
  padding: 20px 50px 7px 50px;
}

.regi-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 25px 20px 45px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #757575;
  font-size: 12px;
  width: 40%;
}

.form-box p {
  padding-bottom: 5px;
}

.form-control {
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 9px 20px;
}

.regi-btn {
  border-radius: 8px;
  width: 100px;
  border: none;
  background-color: #6E4B87;
  color: #FFFFFF;
  height: 34px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: bold;
  font-size: 14px;
}

/* Media queries for smaller viewports */
@media (max-width: 768px) {
  .regi-container {
    width: 95%;
  }
  .regi-box form {
    padding: 5px 10px 20px 10px;
  }
  #regi-title {
    padding: 20px 20px 7px 20px;
    text-align: center;
  }
}

@media (max-width: 650px) {
  .regi-container {
    display: none;
    width: 95%;
  }
}

/* These are the main colors used in the page */
/* The Linx banner section */
.linx-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.linx-box p {
  color: #414141;
  max-width: 700px;
  font-size: 14px;
  padding: 20px;
  line-height: 19px;
}

.linx-box img {
  margin-left: 20px;
}

@media (max-width: 768px) {
  .linx-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 65px;
  }
  .linx-box p {
    text-align: center;
    font-size: 12px;
  }
  .linx-box img {
    -webkit-transform: scale(0.67);
            transform: scale(0.67);
  }
}

/* These are the main colors used in the page */
/* Page's footer */
footer {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  background-color: #422755;
  height: 125px;
}

footer p {
  margin: auto;
}

@media (max-width: 768px) {
  footer {
    margin-top: 40px;
  }
}

*, body {
  font-family: 'Open Sans';
}

main {
  margin: auto;
}

@media (min-width: 1090px) {
  .container {
    max-width: 1090px;
    margin: auto;
  }
}
/*# sourceMappingURL=style.css.map */